<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Artículos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #000000;
            padding: 8px;
        }
        th {
            background-color: #e72c2c;
            text-align: left;
        }
        .search-bar {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Lista de Artículos</h1>

    <!-- Barra de filtros -->
    <form method="GET" action="/" class="search-bar">
        <label for="articulo">Artículo:</label>
        <input type="text" id="articulo" name="articulo" placeholder="Buscar por artículo" value="{{ articulo }}">

        <label for="codigo_barras">Código de Barras:</label>
        <input type="text" id="codigo_barras" name="codigo_barras" placeholder="Buscar por código de barras" value="{{ codigo_barras }}">

        <label for="descripcion_subfamilia">Descripción Subfamilia:</label>
        <input type="text" id="descripcion_subfamilia" name="descripcion_subfamilia" placeholder="Buscar por descripción de subfamilia" value="{{ descripcion_subfamilia }}">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" placeholder="Buscar por nombre" value="{{ nombre }}">

        <button type="submit">Filtrar</button>

        <form method="GET" action="/descargar_excel">
            <button type="submit">Descargar Excel</button>
        </form>
        
    </form>

    <table>
        <thead>
            <tr>
                <th>SKU</th>
                <th>Código de Barras</th>
                <!--<th>Subfamilia</th>-->
                <th>Descripción Subfamilia</th>
                <th>Nombre</th>
                <th>Proveedores</th>
                <th>Precio 1IVA</th>
                <th>Precio 2IVA</th>
                <th>Precio 3IVA</th>
                <th>Precio Neto</th>
                <th>Compras</th>
                <th>Ventas</th>
            </tr>
        </thead>
        <tbody>
            {% if rows %}
                {% for row in rows %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <!--<td>{{ row[2] }}</td>-->
                    <td>{{ row[4] }}</td>
                    <td>{{ row[3] }}</td>
                    <td><a href="/proveedores/{{ row[0] }}">Ver Proveedor</a></td>
                    <td><a href="/precios1/{{ row[0] }}">Ver Precio</a></td>
                    <td><a href="/precios2/{{ row[0] }}">Ver Precio</a></td>
                    <td><a href="/precios3/{{ row[0] }}">Ver Precio</a></td>
                    <td><a href="/preneto/{{ row[0] }}">Ver Precio</a></td>
                    <td><a href="/compras/{{ row[0] }}">Ver Precio</a></td>
                    <td><a href="/ventas/{{ row[0] }}">Ver Precio</a></td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="7">No se encontraron resultados</td>
                </tr>
            {% endif %}
        </tbody>        
    </table>
</body>
</html>

